# Case Study on Testing of Hypothesis

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import scipy as sc

In [2]:
data= pd.read_csv('sales_add.csv')

# Descriptive analytics on the dataset

In [3]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [4]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# 1.clarify whether there is any increase in sales after stepping into digital marketing.

In [5]:
# Hypothesis
# H0: Increase in sales after stepping into digital marketing.
# H1: There is no increase in sales after stepping into digital marketing.

In [6]:
before_digital = data.drop(['Month','Region','Manager','Sales_After_digital_add(in $)'],axis =1)
After_digital = data.drop(['Month','Region','Manager','Sales_before_digital_add(in $)'], axis =1)

In [7]:
tvalue, pvalue = stats.ttest_ind(before_digital,After_digital)

In [8]:
stats.ttest_ind(before_digital,After_digital)

Ttest_indResult(statistic=array([-12.99508445]), pvalue=array([2.61436801e-16]))

In [39]:
#  1 tail t test since sales can increase or decrease
tcriteria=(stats.t.ppf((0.05), 42))

In [40]:
stats.t.ppf((0.05), 42)

-1.6819523559426006

In [41]:
if np.abs(tvalue)>np.abs(tcriteria) and pvalue <0.05:
    print('Reject H0:Increase in sales after stepping into digital marketing.')
else:
    print('Reject H1: There is no increase in sales after stepping into digital marketing.')

Reject H0:Increase in sales after stepping into digital marketing.

# 2. check whether there is any dependency between the features “Region” and “Manager”.

In [12]:
# Hypothesis
# H0: There is a dependency between the features “Region” and “Manager”.
# H1: There is no dependency between the features “Region” and “Manager”.

In [22]:
region =data.groupby('Region').count()

In [23]:
region

,Month,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
Region,,,,
Region - A,10,10,10,10
Region - B,7,7,7,7
Region - C,5,5,5,5

In [32]:
rgn =data['Region']

In [33]:
rgn

0     Region - A
1     Region - A
2     Region - B
3     Region - B
4     Region - C
5     Region - A
6     Region - C
7     Region - A
8     Region - B
9     Region - C
10    Region - B
11    Region - A
12    Region - B
13    Region - A
14    Region - C
15    Region - A
16    Region - A
17    Region - C
18    Region - B
19    Region - A
20    Region - B
21    Region - A
Name: Region, dtype: object

In [24]:
manager =data.groupby('Manager').count()

In [25]:
manager

,Month,Region,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
Manager,,,,
Manager - A,9,9,9,9
Manager - B,7,7,7,7
Manager - C,6,6,6,6

In [34]:
mngr =data['Manager']

In [35]:
mngr

0     Manager - A
1     Manager - C
2     Manager - A
3     Manager - B
4     Manager - B
5     Manager - B
6     Manager - C
7     Manager - A
8     Manager - C
9     Manager - B
10    Manager - C
11    Manager - A
12    Manager - A
13    Manager - A
14    Manager - A
15    Manager - B
16    Manager - C
17    Manager - B
18    Manager - A
19    Manager - B
20    Manager - A
21    Manager - C
Name: Manager, dtype: object

In [16]:
sc.stats.chisquare(data["Region"].value_counts())

Power_divergenceResult(statistic=1.7272727272727273, pvalue=0.4216261054870035)

In [17]:
sc.stats.chisquare(data["Manager"].value_counts())

Power_divergenceResult(statistic=0.6363636363636364, pvalue=0.7274705090242836)

In [18]:
cont = pd.crosstab(data["Region"],data["Manager"])

In [19]:
sc.stats.chi2_contingency(cont)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [38]:
table = pd.crosstab(rgn,mngr)

from scipy.stats import chi2_contingency
chi2, p, dof, expected = chi2_contingency(table.values)
print ('Chi-square Statistic %0.3f p_values %0.3f' %(chi2, p))

Chi-square Statistic 3.051 p_values 0.549

In [43]:
#find Chi-Square critical value
critical_value = sc.stats.chi2.ppf((0.05/2), df=42)

25.998661968152373

In [46]:
alpha = 0.05/2
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.5493991051158094
Independent (H0 holds true)

There is no dependency between the features “Region” and “Manager”.